.swiper-button-prev,
.swiper-button-next {
  color: #FFBA08 !important;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background: #999999 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #FFBA08 !important;
}
